
     body {
     background-color: rgba(197, 199, 193, 0.8); 
     }
     
     nav a:hover {
     background-color: rgb(198, 192, 192);
     }
     .join:hover, #background, .msg, footer {
        background-color:rgb(25,32,13, .8);
     }
    <div id="content">
    /*; background: rgb(187,215,138,0.8); color:black" div> */
      div {
         max-width: 1600;
         margin: 0;
         text-align: center;
         background-color: lightblue; 
         }
      .book {
          text-align: center;
          border: 1px;
          color: rgb(135, 108, 108);   
        }
      .msg {
        margin: 0 auto;
        text-align: center;
        background-color:rgb(187, 215, 138, 0.8);
        text-decoration: none;
       }
       .msg a {
        text-decoration: none;
       }
      .block {
        margin: 0;
        text-align: center;
        height: 8cm;
        max-width: 1600cm;
        background-color: rgb(233, 206, 163);
       }
       .mountains {
            width: 20cm;
            height: 20cm;
            margin-left: 0cm;
       }
      .logo {
              width: 80px;
              margin-left: 0cm;
            }
      .icon {
              width: 80px;
              margin-right: 28cm;
              margin-top: -2cm;
            }
      .hero {
              width: 100px;
              margin-left: 0cm;
              max-width: 1600px;
            }
      .social {
              display:inline-block;
              margin-left: 0;
            }
      nav a, #hero-msg h1, #hero-msg h4, .button-box, main section {
        text-align: center;
      }
      img {
        display: inline;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background:rgb(189, 188, 188)
      }
      #background {
         height: 725px;
      }
      <header>
            .logo {
              width: 80px;
            }
            .icon {
              width: 80px;
            }
           img {
             display: block;
             max-width: 1600px;
             margin-left: auto;
             margin-right: auto;
             text-align: center;
            }
           header {
             background-color:rgb(187, 215, 138, 0.8);
          }
          header a {
             text-decoration: none;
             color: rgb(214, 49, 148);
          }
      </header>
      <footer>
           .icon {
             display: inline;
             width: 80px;
            }
           footer a {
             display: inline;
             text-decoration: none;
             color: brown;
           }
           footer p {
               font-size: 1.2em;
            } 
            footer p a:hover {
               text-decoration: none;      
          } 
            footer {
               background-color:rgba(187, 215, 138, 0.8);
            }
       </footer>
    </div>