@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
:root {
/* change the values below to your chosen font(s) */
  --heading-font: 'Rock Salt';
  --paragraph-font: Roboto, Croissant One, Lora;
}


body {
  background-color: #fcfbfb;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  justify-self: center;
  align-self: center;
  background-color: rgb(155, 135, 107);
  z-index: 5;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(155, 135, 107);
  color: white;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
  color: white;
  z-index: 1;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px;
    margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index:auto;
}

#hero-msg h4 {
  grid-column: 2/3;
  grid-row: 1/2;
  color: white;
  z-index: 5;
}


#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  color: white;
  z-index: 5;
}



.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 100px;
}

.card-img, .mountains {
  width: 100%;
}


.rivers-card  {
  grid-column: 2/4;
  grid-row: 2/3; 
}


.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}
 

.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
} 


#background {
  grid-column: 1/11;
  grid-row: 4/9;
} 

.mountains {
  width: 100%;
  grid-column: 2/7;
  grid-row: 5/8;
  background-color: rgb(155, 135, 107);
  box-shadow: 5px 5px 10px #6f7364;
} 

.msg {
  grid-column: 6/10;
  grid-row: 6/7;
  background-color: rgb(155, 135, 107);
}   

footer {
  display: inline-block;
  background-color: #6f7364;
  padding: 25px 50px;
  margin-top: 200px; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-img {
  border: 10px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}


.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}

.msg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #6f7364;
  line-height: 1.5em;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}


 .msg p {
  padding-bottom: 15px;
 }

 nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 35px;
  z-index: 1;
}



h2 {
  margin: 0;
}
.home-title {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 2em;
  margin-top: -80px;
  z-index: 1;
}
   /* <div id="content">
    /* background: rgb(187,215,138,0.8); color:black" div> */
      div {
         max-width: 1600px;
         margin: 0 auto;
         text-align: center;
         background-color: #fcfbfb; 
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         }
      h1 {
        font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
        text-align: center;
      }
         #content {
          max-width: 1600px;
          margin: 0 auto;
        }
    /* </div> */
 
      nav a:hover {
          background-color: rgb(198, 192, 192);
          }
      
    

      .book, .join {
        background-color: #d9c2a3;
        color: black;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
      }

    
      main section img {
        box-sizing: border-box;
      }

        .rivers-card, .camping-card, .rapids-card {
          margin: 200px 0;
        } 

        nav a {
          text-decoration: none;
          color: #fcfbfb;
          text-align: center;
          padding: 35px;
        } 

      .block {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        margin-top: 100px;
        margin-bottom: 100px;
        text-align: center;
        height: 725px;
        max-width: 1600cm;
        background-color: rgb(233, 206, 163);
       }

       
      .logo {
              width: 80px;
              margin-left: 0cm;
              padding-top: 5px;
            }

      .icon {
              display:inline-block;
              margin-left: 0px;
              width: 80px;
             /* margin-right: 0cm; */
              margin-top: 5px;
              padding-top: 0px;
            }

      .hero {
              height: 100%;
              margin-left: 0cm;
              max-width: 1600px;
              background-color: rgba(197, 199, 193); 
            }
      .social {
              display: inline-block;
              margin-left: 0;
              background-color: #6f7364;
            }
            h1 {
              text-align: center;
            }
            nav a, #hero-msg,  h2, p,  main section {
              text-align: center;
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              padding: 15px;
            }

            .button-box {
              max-width: max-content;
              text-align: center;
            }
      
      /*
      img {
        display: inline;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color:rgb(189, 188, 188)
      }
      */
      #background {
         height: 725px;
      }
 
     /* <header> */
            .logo {
              width: 80px;
            }
            .icon {
              width: 80px;
            }
           img {
             display: inline-block;
             max-width: 100%;
             margin-left: auto;
             margin-right: auto;
             text-align: center;
             background-color:rgb(189, 188, 188)
            }
           
           footer a {
             display: inline;
             text-decoration: none;
             color: rgb(164, 158, 158);
           }
           footer p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 1.2em;
            text-align: center;
            text-decoration: none;
            color: rgb(164, 158, 158);
            } 
            footer a:hover {
               text-decoration: none; 
               text-align: center; 
               padding-top: 0px;    
            } 
            

            footer {
              background-color: #6f7364;
              padding: 25px 50px;
              margin-top: 200px; 
              display: flex;
              justify-content: space-around;
              align-items: center;
          }

            footer .social img {
                padding-top: 0px;
                background-color:rgb(106, 104, 105);
            }

     /*  </footer> */


     @media screen and (max-width: 900px) {
      #hero, .home-grid {
          display: block;
          height: auto;
      }
      nav, footer {
          flex-direction: column;
      }
      nav a {
          display: block;
          padding: 15px;
      }
      #hero {
          margin-top: 0;
      }
      #hero-msg {
          margin-top: 0;
      }
      #hero-msg h4 {
          display: none;
      }
      .home-title {
          font-size: 25px;
          color: #6f7364;
      }
      .rivers-card, .camping-card, .rapids-card { 
          margin: 50px auto;
          width: 60%;
      }
      #background {
          display: none;
      }
      .mountains, .msg {
          width: 80%;
          display: block;
          margin: 0 auto;
      }
      footer {
          margin-top: 25px;
      }
  }